body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	background-color: #000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;

	color: #fff;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	background-color: #000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.main-nav {
	font-size: 16px;
	line-height: 20px;
	color: #fff;

	background-color: #000;
}

.nav-menu, .user-nav-menu {
	list-style: none;
}

.nav-menu a, .user-nav-menu a {
	color: #fff;
}

.nav-menu a:hover,
.nav-menu a:focus,
.user-nav-menu a:hover,
.user-nav-menu a:focus {
	background-color: #242424;
}

.features-list {
	list-style: none;
}

.features-list-item {
	text-align: center;
}

.features-list-item h3 {
	font-size: 30px;
	line-height: 42px;
}

.styled-block {
	color: #000;

	background-color: #f8f5f2;
	background-image: url("../img/block-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.news-list {
	list-style: none;
}

.news-list-item time {
	text-transform: none;
}

.gallery-content {
	background-color: #e5e5e5;
	border: solid 7px #fff;
}

.appointment-form input {
	font: inherit;

	background-color: transparent;
	border: solid 2px #000;
}

.appointment-form input:focus {
	border-color: #663d15;
	outline: none;
}

.main-footer {
	color: #fff;

	background-color: #232323;
	background-image: url("../img/footer-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.footer-contacts a {
	color: #fff;

	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #fff;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #000;

	background-color: #fff;
}

.modal {
	color: #000;

	background-color: #f8f5f2;
	background-image: url("../img/block-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.login-form h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: solid 2px #000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-form a {
	color: #000;
	text-decoration: underline;
}

.login-form a:hover,
.login-form a:active {
	text-decoration: none;
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 1122px;
	min-height: 1750px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-bottom: 75px;
}

.main-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}

.main-logo {
	order: 2;
	width: 371px;
	height: 155px;
}

.nav-menu {
	width: 620px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-nav-menu {
	width: 140px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.nav-menu-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000;
}

.nav-menu-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.features-list-item {
	
}

.styled-block {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 40px;
}

.news {
	width: 380px;
}

.gallery {
	width: 300px;
}

.news-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts {
	width: 380px;
}

.appointment {
	width: 300px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
}

.footer-contacts {
	margin: 0;
	margin-right: 80px;
	width: 320px;
}

.footer-social {
	width: 145px;
}

.footer-copyright {
	margin: 0;
	margin-left: auto;
	width: 150px;
}

.main-footer .container {
	display: flex;
}
